<style>
  .jumbotron {
    background-color: rgba(255, 255, 255, 0.0); /* Adjust the last value (0.7) for opacity */
  }
  .center-image {
    text-align: center;
  }
</style>

<body>
<div class="jumbotron center-image">
  <h1 class="display-4">Inscription</h1>
  <hr class="my-4">
  <img style="width: 10%;" src="https://png.pngtree.com/png-clipart/20221223/original/pngtree-job-vacancies-images-png-image_8799592.png" alt="MyRH Image" class="img-fluid">
</div>

<div class="container mt-5">
  <div class="row">
    <!-- Formulaire d'inscription -->
    <div class="col-md-6">
      <form (ngSubmit)="submitInscription()">
        <!-- Ajoutez le nom du contrôle pour chaque champ -->


        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" id="email" name="email" [(ngModel)]="societeData.email" class="form-control" required>
        </div>

        <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="societeData.password" class="form-control" required>
      </div>

        <div class="mb-3">
          <label for="address" class="form-label">Address:</label>
          <input type="text" id="address" name="address" [(ngModel)]="societeData.address" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Phone Number:</label>
          <input type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)]="societeData.phoneNumber" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image URL:</label>
          <input type="text" id="image" name="image" [(ngModel)]="societeData.image" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="col-md-6">
      <div class="alert alert-info">
        <h5>Processus d'inscription:</h5>
        <p>
          Merci de remplir le formulaire ci-dessus pour vous inscrire en tant que société.
          Votre demande sera examinée et votre société sera activée après approbation.
          Veuillez patienter pendant que nous traitons votre demande.
        </p>
      </div>
    </div>
  </div>
</div>
</body>
